
ul{display: flex;
justify-content: center;
gap: 50px;
list-style: none;}

.mujer{border-radius: 50%;
border: 5px solid rgb(179, 255, 0);
display: block;
margin: auto;
}

section{display: flex; gap: 70px;}

.col30{
    width: 30%;
}

.col70{
    width: 70%;
    padding-right: 10%;
}

.verdura{
    border: 9px solid slategray;
    background-position: center;
}

footer{
    padding: 20px;
    background-color:bisque;
    display: flex;
    justify-content: center;
}

header{
    padding:10px;
    background-color: rgb(179, 255, 0);
    text-align: center;
}

.textocentro{
    text-align: center;
}

.textocentrovideo{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

.textocentrovideo2{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin: auto;
}

.nombreperfil{
    text-align: center;
}

.localesinicio{
    padding-top: 0%;
    padding-left: 16%;
    display: block;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.texto{
    font-family:'roboto';
}

.buscador{
    padding: 5px;
    display: block;
    margin: auto;
}

.verdura{
    padding: 5px;
    display: block;
    margin: auto;
}

.header{
    text-align: center;
}

section{
    padding-top: 10px;
}

nav{
    padding: 1px;
    background-color:peru
}

.colfooter30{
    display: block;
    margin: auto;
}

.derechos{
    padding-top: 1px;
    display: block;
    margin: auto;
    text-align: center;
}

.video{
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.recomendados{
    text-align: center;
    display: block;
    margin: auto;
    
}